{% extends "../base.html" %}

{% block content %}

    <main>
        <div>
            <h1>Create a new Project</h1>
            <form method="post">
                {% csrf_token %} {{ form.as_p}}
                <button type="submit">Create</button>

            </div>
        </main>
{%endblock content%}